- name: Run database
  docker_container:
    name: database
    image: planche69/devops-database:latest
    env:
      POSTGRES_DB: "db"
      POSTGRES_USER: "{{ POSTGRES_USER }}"
      POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD }}"
    networks:
      - name: "app-network"